*{
	padding:0;margin:0;
}
html{
	-webkit-user-select:none;
	vertical-align: top;
	height:100%;
}

body{
	height:100%;
}

#debug{
	position: absolute;
	left:0;
	bottom:0;
}

header{
	-webkit-app-region:drag;
	padding:5px;
	height:20px;
	color:#333;
	font-family: sans-serif;
	background:#eee;
}

.fileInfo{

	width:-webkit-calc(50% - 12px);
	float:left;
	margin:5px 5px 0;
	padding:5px 0;
	text-align: center;
	font-size: 12px;
	background:#eee;
	border:1px solid #ccc;
	-webkit-user-select:text;

}

.file{
	-webkit-app-region:no-drag;
	width:-webkit-calc(50% - 62px);
	float:left;
	margin:5px;
	background:#eee;
	border:1px solid #ccc;
	overflow: auto;
	white-space: nowrap;
	height:-webkit-calc(100% - 45px);
	font-size:14px;
	list-style-position: outside;
	padding-left:50px;
	-webkit-user-select:text;
}

.file li{
	color:#aaa;
	font-family: Courier;
}

.file li span{
	line-height: 1.5em;
	margin: 0.1em;
	display: inline-block;
	color:#333;
}

.file .copy span{

}

.file .replace span{

	background: rgb(182,221,255);

}

.file .insert span{

	background: rgb(204,235,204);
	margin-left: -8px;

}
.file .insert::before{

	position: relative;
	color:#5a5;
	left:-12px;
	content:'+';

}

.file .delete span{

	background: rgb(235,204,204);
	margin-left: -8px;

}
.file .delete::before{

	position: relative;
	color:#a55;
	left:-12px;
	content:'-';

}

.file span.blank{
	height:1.5em;
	vertical-align: top;
}